{% extends 'base.html.twig' %}

{% block title %}Tarea index{% endblock %}

{% block body %}
    <h1>Tarea index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario_id</th>
                <th>Estado_id</th>
                <th>Titulo</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.usuarioId }}</td>
                <td>{{ tarea.estadoId }}</td>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.description }}</td>
                <td>
                    <a href="{{ path('tarea_show', {'id': tarea.id}) }}">show</a>
                    <a href="{{ path('tarea_edit', {'id': tarea.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarea_new') }}">Create new</a>
{% endblock %}
