{% extends 'base.html.twig' %}

{% block title %}Tarea{% endblock %}

{% block body %}
    <h1>Tarea</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarea.id }}</td>
            </tr>
            <tr>
                <th>Usuario_id</th>
                <td>{{ tarea.usuarioId }}</td>
            </tr>
            <tr>
                <th>Estado_id</th>
                <td>{{ tarea.estadoId }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ tarea.titulo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tarea.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tarea_index') }}">back to list</a>

    <a href="{{ path('tarea_edit', {'id': tarea.id}) }}">edit</a>

    {{ include('tarea/_delete_form.html.twig') }}
{% endblock %}
